
<% departments.each do |department| %>

    <li class= "department" >

        [Отдел] <%= department.name %>
        <!-- <%= link_to 'Show', department %> -->
        <% if can? :update, department %><%= link_to 'e', edit_department_path(department) %><% end %>
        <% if can? :delete, department %><%= link_to  'x', department, method: :delete, data: { confirm: 'Are you sure?' } %><% end %>

        <ul class="departments">
            <%= render  partial: 'departments', locals: {:departments => department.departments} %>
            <%= render  partial: 'departments/positions', locals: {:positions => department.positions} %>
            <% if can?(:manage, :departments) %>
            	<li class = "department_new">
            		<%= link_to '[Добавить отдел]', new_department_path(params: {
            			association: 'department',
            			department_id: department.id,
						parent_scaffold: 'departments'            			
        			}) %>
        		</li>
    		<% end %>
    		
            <% if can?(:manage, :positions) %>
            	<li class = "position_new">
            		<%= link_to '[Добавить должность]', new_position_path(params: {department: department}) %>
        		</li
    		><% end %>
        </ul>

    </li>

<% end %>



