<h1>Listing employees_current_positions</h1>

<table>
  <tr>
    <th>Employee</th>
    <th>Position</th>
    <th>Level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees_current_positions.each do |employees_current_position| %>
  <tr>
    <td>
 
<%= if employees_current_position.employee;  employees_current_position.employee.name end %>

    </td>
    <td>

<%= if employees_current_position.position;  employees_current_position.position.name end %>

    </td>
    <td>

<%= if employees_current_position.level;  employees_current_position.level.name end %>

    </td>


    <td><%= link_to 'Show', employees_current_position %></td>
    <td><%= link_to 'Edit', edit_employees_position_path(employees_current_position) %></td>
    <td><%= link_to 'Destroy', employees_current_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>


  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employees current position', new_employees_position_path %>
