<p id="notice"><%= notice %></p>

<p>
  <b>Employee:</b>

 
<%= if @employees_current_position.employee;  @employees_current_position.employee.name end %>
 

</p>

<p>
  <b>Position:</b>

 
<%= if @employees_current_position.position;  @employees_current_position.position.name end %>
 

</p>

<p>
  <b>Level:</b>

 
<%= if @employees_current_position.level;  @employees_current_position.level.name end %>
 

</p>


<%= link_to 'Edit', edit_employees_current_position_path(@employees_current_position) %> |
<%= link_to 'Back', employees_current_positions_path %>
