<% attributes.each do |attribute| -%>
<p>
  <b><%= attribute.human_name %>:</b>

 <% if attribute.reference?  %>
<%%= if @<%= singular_table_name %>.<%= attribute.name %>;  @<%= singular_table_name %>.<%= attribute.name %>.name end %>
 <% else %>
<%%= @<%= singular_table_name %>.<%= attribute.name %> %>
 <% end %>

</p>

<% end -%>

<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
<%%= link_to 'Back', <%= index_helper %>_path %>
