<!DOCTYPE html>
<html>
<head>
  <title>HRService</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css", :rel => "stylesheet", :type => "text/css" %>
</head>
<body>
<header>

</header>

<div id="authorize_menu" >
  <% if user_signed_in? %>
	Авторизован как <%= current_user.email %>
    <%= link_to '[Выход]', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "[Регистрация]", new_user_registration_path %>
    <%= link_to "[Вход]", new_user_session_path %>
  <% end %>
  
</div><br>

<div id = "columns">

<menu>
  <%= link_to 'История должностей', employees_prev_positions_path  %><br>
  <%= link_to 'Текущие должности', employees_positions_path  %><br>
  <%= link_to 'Сотрудники', employees_path  %><br>
  <%= link_to 'Должности', positions_path %><br>
  <%= link_to 'Отделы', departments_path %><br>
  <%= link_to 'Больничные', sick_leaves_path %><br>
  <%= link_to 'Премии', premia_path %><br>
  <%= link_to 'Социальная помощь', aids_path %><br>
  <%= link_to 'Типы начислений', accrual_types_path %><br>
  <%= link_to 'Назначить отпуск', vacations_path %><br>
  <%= link_to 'Посещения (CRUD)', employees_visits_path %><br> 
  <%= link_to 'Табель посещений', select_table_employees_visits_path %><br>
  <%= link_to 'Праздники', holidays_path %>
</menu>



<content>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
</content>

</div><br>

<footer>
</footer>

<div id ="up_button">
  Вверх
</div>

</body>
</html>
