<!DOCTYPE html>
<html>
<head>
  <title>HRService</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/ui-lightness/jquery-ui.css", :rel => "stylesheet", :type => "text/css" %>
</head>
<body>
<header>

</header>

<div id="authorize_menu" >
  <% if user_signed_in? %>
	Авторизован как <%= current_user.email %>
    <%= link_to '[Выход]', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "[Регистрация]", new_user_registration_path %>
    <%= link_to "[Вход]", new_user_session_path %>
  <% end %>
  
</div><br>

<div id = "columns">

<menu>
	<ul>
		HR:
		
		<% if can?(:read, Employee) %><li><%= link_to 'Сотрудники', employees_path  %></li><% end %>
		<% if can?(:read, Position) %><li><%= link_to 'Должности', positions_path %></li><% end %>
		<% if can?(:read, Department) %><li><%= link_to 'Отделы', departments_path %></li><% end %>
  		<% if can?(:read, EmployeesPosition) %><li><%= link_to 'Текущие должности', employees_positions_path  %></li><% end %>
  		<% if can?(:read, EmployeesPrevPosition) %><li><%= link_to 'История должностей', employees_prev_positions_path  %></li><% end %>
  		<% if can?(:read, User) %><li><%= link_to 'Пользователи', users_path  %></li><% end %>
	</ul>
	<ul>
		Начисления:
		
		<% if can?(:read, Premium) %><li><%= link_to 'Премии', premia_path %></li><% end %>
		<% if can?(:read, Aid) %><li><%= link_to 'Социальная помощь', aids_path %></li><% end %>
		<% if can?(:read, AccrualType) %><li><%= link_to 'Типы начислений', accrual_types_path %></li><% end %>
	</ul>
	
  	<ul>
  		Табель:
  		
  		<% if can?(:read, EmployeesVisit) %><li><%= link_to 'Табель посещений', select_table_employees_visits_path %></li><% end %>
  		<% if can?(:read, EmployeesVisit) %><li><%= link_to 'Посещения (CRUD)', employees_visits_path %></li> <% end %>
  		<% if can?(:read, Vacation) %><li><%= link_to 'Отпуск', vacations_path %></li><% end %>
  		<% if can?(:read, SickLeave) %><li><%= link_to 'Больничный', sick_leaves_path %></li>	<% end %>
  		<% if can?(:read, Holiday) %><li><%= link_to 'Праздники', holidays_path %></li><% end %>
  	</ul>
</menu>



<content>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
</content>

</div><br>



</body>
</html>
